
body{
  background-image: url("back.jpg");
 color: #145374;
 font-family: Merriweather,sans-serif;
}
.navbar{
  background-color: #00334e;
  position: fixed;
  top: 0;
}

.top-container-fluid{
  font-family: 'Sacramento', cursive;
  padding-top: 50;
  background-image: url("bg.jpg");
  position: relative;
  text-align: left;
  background-color: #e8e8e8;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 50;
 color: #145374;
 border-radius: 10px;
}
.h1{
  font: cursive;
}



.logo{
  height: 750;
  width: 750;
  margin-top: -100;

}

.btn1{
  padding-bottom: 500px;
  margin-right:25;
  margin-top: 50;
  background-color: #00334e;
  color: #e8e8e8;
  border-radius: 10px;
}
.btn2{
  padding-bottom: 500px;
  padding-right: 50;
  margin-top: 50;
  background-color: #00334e;
  color: #e8e8e8;
  border-radius: 10px;
}
.navbar-brand{
  color: #e8e8e8;
}

.nav-link{
  color: #e8e8e8;
}

.line{
  position: relative;
  margin-top: 100;
}

.log{
  padding-top: 50;
}

.h1{
  font-size: 5000;
  font-family: 'Sacramento', cursive;
}

.container-workshops{
  margin: 50;
  padding-bottom: 50;
  font-family: 'Sacramento', cursive;
  border-radius: 10px;
}



.container-events{
  margin: 50;
  padding-bottom: 50;
  font-family: 'Sacramento', cursive;
  border-radius: 10px;
  background: transparent;
}

.group{
  height: 240;
  width: 370;
    background-color: #145374;
    color: #e8e8e8;
    border-radius: 10px;
}

.carousel{
  margin: 50;
  border-radius: 10px;
}

.a26{
  height: 240;
  width: 370;
    background-color: #145374;
    color: #e8e8e8;
    border-radius: 10px;
}

.form-inline{
  padding-left: 750;
    border-radius: 10px;
}

.civil{
  background-color: #145374;
  color: #e8e8e8;
  height: 240;
  width: 370;
  border-radius: 10px;
}
.panel-heading{
    background-color: #145374;
    color: #e8e8e8;
}
.panel{
    background-color: #145374;
    color: #e8e8e8;
}

.panel-body{
    background-color: #145374
}

.team{
  position: relative;
}
.event{
 padding-top:500;
   color: #145374;
}
.events{
  margin: 50;
  color: #145374;
  background: transparent;
}
.card-body{
  background-color: #145374;
}
.mtt{
  padding-top: 300;
  font: cursive;
}
.contact-me{
  padding-top: 50px;
  padding-bottom: 50px;
}
.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #6e326e;
  font-family: Montserrat;
  color: #fcfcfc;
  font-size: 31px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.butn:hover {
  background: #226597;
  background-image: -webkit-linear-gradient(top, #226597, #3498db);
  background-image: -moz-linear-gradient(top, #226597, #3498db);
  background-image: -ms-linear-gradient(top, #226597, #3498db);
  background-image: -o-linear-gradient(top, #226597, #3498db);
  background-image: linear-gradient(to bottom, #226597, #3498db);
  text-decoration: none;
}
.bottom-container{
  background-color: #226597;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #f3f9fb;

}
.footer-link{
  color: #113f67;
  line-height: 2;
}
.insta{
  height: 50;
  width: 50;

}
